# Binaries
gqls

# IDE/editor files
.vscode/
.idea/
*.swp
*.swo
*.swn
*.bak
*.tmp

# OS
.DS_Store
Thumbs.db

# Git
.git
.gitignore
.gitattributes
.gitmodules

# Project files
example.gql
assets/
.golangci.yml
.goreleaser.yaml
.pre-commit-config.yaml
_config.yml
LICENSE*
NOTICE
README.md
