{{- /*gotype: github.com/gql-schema/gqls/internal/gql2neo4j/convert.CheckConstraintTriggerData*/ -}}
UNWIND {{.CreatedVariable}} AS e
WITH e
WHERE e:{{.Label}}
  AND e.{{.PropertyName}} IS NOT NULL
  AND NOT ({{.CheckExpression}})
CALL apoc.util.validate(true, '{{.PropertyName}} violates check constraint: {{.CheckExpression}}', [])
RETURN NULL

UNION

UNWIND keys({{.AssignedPropertiesVariable}}) AS prop
UNWIND {{.AssignedPropertiesVariable}}[prop] AS change
WITH change
WHERE {{if eq .AssignedPropertiesVariable "$assignedNodeProperties"}}change.node{{else}}change.relationship{{end}}:{{.Label}}
  AND change.key = "{{.PropertyName}}"
  AND change.new IS NOT NULL
  AND NOT ({{.ChangeCheckExpression}})
CALL apoc.util.validate(true, '{{.PropertyName}} violates check constraint: {{.ChangeCheckExpression}}', [])
RETURN NULL
