{{- /*gotype: github.com/gql-schema/gqls/internal/gql2neo4j.EdgeEndpointTriggerData*/ -}}
UNWIND $createdRelationships AS rel
WITH rel
WHERE type(rel) = "{{.RelationshipType}}"
AND NOT (startNode(rel):{{.StartNodeType}} AND endNode(rel):{{.EndNodeType}})
CALL apoc.util.validate(
  true,
  "{{.RelationshipType}} relationship must be between {{.StartNodeType}} and {{.EndNodeType}}",
  []
)
RETURN null
